.map
 img.map__img(src="images/map.png", alt="#")
.footer
 .footer__container
  span.footer__copyright © 2016 PSDfreebies.com – All Right Reserved
  img.footer__design(src="images/copyright.png", alt="#")