.footer
 img.footer__img-left(src="images/footer-left.png", alt="")
 .footer_container
  .footer__lists__container
   h1.footer__lists__title contact center
   ul.footer__lists__list
    li.footer__kists__list__item
     a.footer__lists__list__text(href='#') dhl express
    li.footer__kists__list__item
     a.footer__lists__list__text(href='#') dhl parcel&ecommerce
    li.footer__kists__list__item
     a.footer__lists__list__text(href='#') dhl global forwarding    
    li.footer__kists__list__item
     a.footer__lists__list__text(href='#') dhl freight
    li.footer__kists__list__item
     a.footer__lists__list__text(href='#') dhl supply chain
  .footer__lists__container
   h1.footer__lists__title about us
   ul.footer__lists__list
    li.footer__kists__list__item
     a.footer__lists__list__text(href='#') partnerships
    li.footer__kists__list__item
     a.footer__lists__list__text(href='#') company portrait
    li.footer__kists__list__item
     a.footer__lists__list__text(href='#') dhl global forwarding
    li.footer__kists__list__item
     a.footer__lists__list__text(href='#') green solutions
    li.footer__kists__list__item
     a.footer__lists__list__text(href='#') innovation
  .footer__lists__container
   h1.footer__lists__title social media
   ul.footer__lists__list
    li.footer__kists__list__item
     a.footer__lists__list__text.social(href='#') facebook
    li.footer__kists__list__item
     a.footer__lists__list__text.social(href='#') dribble
    li.footer__kists__list__item
     a.footer__lists__list__text.social(href='#') behance
    li.footer__kists__list__item
     a.footer__lists__list__text.social(href='#') gmail
    li.footer__kists__list__item
     a.footer__lists__list__text.social(href='#') twitter
 img.footer__img-right(src="images/footer-right.png", alt="")  