.header
 .header__container
  .header__container__language
   select.header__container__language__select
     option English
     option Deutsch
     option Russian
  .header__container__language__text
    <i class="fa fa-users"></i>
    span.header__container__language__text__contact Contact Center    
    select.header__container__language__text__country
      option(disabled selected hidden) Country profile
      option USA
      option Deutschland
      option Russia 