.header
 .header__container 
  img.header__logo(src="images/header-logo.png", alt="#") 
  ul.header__list
   li.header__list__item
    a.header__list__item_text(href="#") Home
   li.header__list__item
    a.header__list__item_text(href="#") Pages
   li.header__list__item
    a.header__list__item_text(href="#") Features
   li.header__list__item
    a.header__list__item_text(href="#") Extentions
   li.header__list__item
    a.header__list__item_text(href="#") Tutorials
   li.header__list__item
    a.header__list__item_text(href="#") Contact us
  .header__icons
   <i class="fa fa-facebook" href="#"></i>
   <i class="fa fa-twitter" href="#"></i>
   <i class="fa fa-skype" href="#"></i>
   <i class="fa fa-linkedin" href="#"></i>  
 .banner
  h1.banner__title creatives
  span.banner__text Power by PSDfreebies.com
  .banner__button__container
   span.banner__button__text Scroll Down
   .banner__button__button
    i.arrow-down

