.top-menu
 .top-menu__container
  img(src="./images/logo.png", alt="logo")
  nav.top-menu__menu
    ul.top-menu__menu__list
     li.top-menu__menu__list__item
      a.top-menu__menu__list__item__text(href="#") Express
     li.top-menu__menu__list__item
      a.top-menu__menu__list__item__text(href="#") Parcel & Ecommerce
     li.top-menu__menu__list__item
      a.top-menu__menu__list__item__text(href="#") Logistics
     li.top-menu__menu__list__item
      a.top-menu__menu__list__item__text(href="#") Mail
     li.top-menu__menu__list__item
      a.top-menu__menu__list__item__text(href="#") Press
     li.top-menu__menu__list__item
      a.top-menu__menu__list__item__text(href="#") About
  .top-menu__search
    <i class="fa fa-search"></i>  
    
    