.features
 h1.features__title we are an awesome agency
 .features__container
  .features__feature
   <i class="fa fa-edit"></i>
   h2.features__feature__title feature one
   span.features__feature__text Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus
  .features__feature
   <i class="fa fa-edit"></i>
   h2.features__feature__title feature two
   span.features__feature__text Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus
  .features__feature
   <i class="fa fa-search"></i>
   h2.features__feature__title feature three
   span.features__feature__text Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus
  .features__feature
   <i class="fa fa-comment"></i>
   h2.features__feature__title feature four
   span.features__feature__text Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus
.news
 .news__top
  .news__top__text__container
   .news__top__text
    span.news__top__text__date Jan 4 2016 | In Culture
    h2.news__top__text__title akina inu dog
    p.news__top__text__first Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
    p.news__top__text__second Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere 
  .news__top__img__container   
 .news__bottom   
  .news__bottom__img__container   
  .news__bottom__text__container
   .news__bottom__text
    span.news__bottom__text__date Jan 4 2016 | In Culture
    h2.news__bottom__text__title akina inu dog
    p.news__bottom__text__first Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
    p.news__bottom__text__second Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere 
.blog
 .blog__container
  h1.blog__title let`s blog
  span.blog__descr We love clean design and advanced digital solutions.
  .blog__articles
   .blog__article
    img.blog__article__img(src="images/blog-1.png", alt="#")
    h2.blog__article__title fresh summer campaign
    span.blog__article__text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue 
   .blog__article
    img.blog__article__img(src="images/blog-2.png", alt="#")
    h2.blog__article__title fresh summer campaign
    span.blog__article__text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue 
   .blog__article
    img.blog__article__img(src="images/blog-3.png", alt="#")
    h2.blog__article__title fresh summer campaign
    span.blog__article__text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue 
   .blog__article
    img.blog__article__img(src="images/blog-4.png", alt="#")
    h2.blog__article__title fresh summer campaign
    span.blog__article__text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue 
.notes
 .notes_container
  .notes__note
   <i class="fa fa-edit"></i>
   p.notes__note__text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
  .notes__note
   <i class="fa fa-edit"></i>
   p.notes__note__text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
.keys
 .keys__container
  .keys__text
   h1.keys__text__title akita inu dog
   p.keys__text__text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
   p.keys__feature-1 fully responsive design
   p.keys__feature-2 high quality code
   p.keys__feature-3 different headers & layout 
  img.keys__img(src="images/key-img.png", alt="#")
.team
 .team__container
  h1.team__title our team
  span.team__descr sales long tail influencer pitch release niche market.
  .team__persons__container
   .team__persons__person
    img.team__persons__person__img(src="images/person-1.png", alt="#")
    .team__persons__person__text
     h4.team__persons__person__text__name john snow
     span.team__persons__person__text__descr CEO
   .team__persons__person
    img.team__persons__person__img(src="images/person-2.png", alt="#")
    .team__persons__person__text
     h4.team__persons__person__text__name lady sansa
     span.team__persons__person__text__descr Web Designer
   .team__persons__person
    img.team__persons__person__img(src="images/person-3.png", alt="#")
    .team__persons__person__text
     h4.team__persons__person__text__name david smith
     span.team__persons__person__text__descr Photographer
   .team__persons__person
    img.team__persons__person__img(src="images/person-4.png", alt="#")
    .team__persons__person__text
     h4.team__persons__person__text__name lady sansa
     span.team__persons__person__text__descr Photographer
.form
 .form__container
  h1.form__title we`d love to hear about your project 
  .form__input__container
   input.form__name(type="text", name="Name" placeholder = "Name") 
   input.form__email(type="email", name="Email" placeholder = "Email")
   input.form__phone(type="tel", name="Phone" placeholder = "Phone")
   textarea.form__message(name="Message" placeholder = "Message")
  button.form__submit Submit
    
 